source .envrc.dist

# aws variables
AWS_ACCOUNT_ID=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# ANSIBLE_VAULT_PASSWORD_FILE=~/

TF_VAR_db=
TF_VAR_db_user=
TF_VAR_db_pass=
TF_VAR_ecs_cluster_name=
TF_VAR_vpc=
TF_VAR_key=

export "${!AWS_@}"
export "${!TF_@}" "${!TERRAFORM_@}"
